@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2% 10%;
}

.main h1 {
    color: white;
    font-family: 'Poppins';
    text-align: center;
}

.main p {
    color: white;
    font-family: 'Poppins';
    text-align: justify;
    margin-top: 6%;
}

.logo img {
    height: 200px;
    width: 400px;
}