@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2% 10%;
}

.main h1 {
    color: white;
    font-family: 'Poppins';
    text-align: center;
}

.main p {
    color: white;
    font-family: 'Poppins';
    text-align: justify;
    margin-top: 6%;
    font-size: 200%;
}

.logo {
    text-align: center;
}

.logo img {
    height: 200px;
    width: 400px;
}

a {
    text-decoration: none;
    color: rgb(186, 238, 127);
}

a:hover {
    cursor: pointer;
    color: red;
}

.social {
    border: 1px solid white;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 60, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.social #a1 {
    float: none;
}

.social #a2 {
    float: right;
    height: 10%;
    width: 8%;
}